[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
[submodule "themes/themes/anubis"]
	path = themes/themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/hugo-eureka"]
	path = themes/hugo-eureka
	url = git@github.com:wangchucheng/hugo-eureka.git
[submodule "themes/ed"]
	path = themes/ed
	url = git@github.com:sergeyklay/gohugo-theme-ed.git
[submodule "themes/toha"]
	path = themes/toha
	url = git@github.com:hugo-toha/toha.git
