[submodule "themes/gokarna"]
	path = themes/gokarna
	url = git@github.com:526avijitgupta/gokarna.git
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
